﻿@model Devoir.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "S’inscrire";
}
<h2>@ViewBag.Title.</h2>
<h3>Associer votre compte @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Formulaire d'association</h4>
    <hr />
    @Html.ValidationSummary(true)
    <p class="text-info">
        Vous avez été authentifié avec succès avec <strong>@ViewBag.LoginProvider</strong>.
            Veuillez entrer un nom d'utilisateur pour le site ci-dessous, puis cliquez sur le bouton S'enregistrer afin de compléter la
            connexion.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="S'enregistrer" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
