﻿@model Examen.Models.Entreprise

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    $(document).ready(function () { //le page charge
        $(model => model.nom).change(function () { //Si le valeur du champ change
            //05/06
            alert("ok");
            $.ajax({
                url: "GetEnterByNom", //appel d la methode creer ds RH
                type: "get", //avec la methode get
                data: "tel=" + $("#tel").val(), //var url
                dataType: "json", //
                success: function (data) {
                    $.each(data, function (i, item) {
                        // alert(i);
                        if (i == "nom")
                            $("#nom").val(item)

                        if (i == "datenais")
                            $("#datenais").val(item)
                        if (i == "salaire")
                            $("#salaire").val(item)
                        if (i == "departement")
                            $("#iddept").val(item)
                        if (i == "id")
                            $("#idemp").val(item) //sa doit etre le meme nom que celui du formulaire associe
                    });
                }
            });   //permet d'utiliser ajax
        });


    });
</script>



<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Entreprise</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.nom, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nom)
                @Html.ValidationMessageFor(model => model.nom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rzonSociale, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rzonSociale)
                @Html.ValidationMessageFor(model => model.rzonSociale)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adresse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.adresse)
                @Html.ValidationMessageFor(model => model.adresse)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
