﻿@model IEnumerable<Examen.Models.Entreprise>

@{
    ViewBag.Title = "Index";
}

<h2>Entreprise</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @Html.ActionLink("Creer prestation", "Create", "Prestation")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rzonSociale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rzonSociale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
