﻿
@{
    ViewBag.Title = "Recherche";
}

<h2>Recherche</h2>



<p>
@using (Html.BeginForm("Recherche", "Etudiant"))
{
@Html.TextBox("date")   
    
<input type="submit" value="RECHERCHER" />
}
</p>

@* Element partiel a inclure *@

<div id="resultats">
    @{Html.RenderAction("listeEtudAll", "Etudiant");
    
      }
</div>

