﻿@model IEnumerable<DevoirsEtExams.Models.Etudiant>

@{
    ViewBag.Title = "Result";
    List<DevoirsEtExams.Models.Etudiant> list = ViewBag.li as List<DevoirsEtExams.Models.Etudiant>;
}

<h2>Result</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <br/>
    @Html.ActionLink("Nouvelle recherche", "Recherche", "Etudiant")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.naissance)
        </th>
        <th></th>
    </tr>

@foreach (var item in list) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matricule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.naissance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
