﻿@model nawetAsp.Models.Reparation

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Reparation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.montant, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.montant)
                @Html.ValidationMessageFor(model => model.montant)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date)
                @Html.ValidationMessageFor(model => model.date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idMateriel, "idMateriel", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idMateriel", String.Empty)
                @Html.ValidationMessageFor(model => model.idMateriel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idReparateur, "idReparateur", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idReparateur", String.Empty)
                @Html.ValidationMessageFor(model => model.idReparateur)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
