﻿@model IEnumerable<nawetAsp.Models.Reparation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Enregistrer reparation", "Create")
</p>

<div>
@using (Html.BeginForm("Recherche", "Reparation"))
{
    @Html.TextBox("date")

    <input type="submit" value="RECHERCHER" />
}
</div>
<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Reference materiel")
        </th>

        <th>
            @Html.DisplayName("Marque")
        </th>

        <th>
            @Html.DisplayName("Code reparateur")
        </th>

        <th>
            @Html.DisplayName("Nom reparateur")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.montant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.materiel.reference)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.materiel.marque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reparateur.code)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.reparateur.nom)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}

</table>
