﻿@model DevoirsEtExams.Models.Inscription

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Inscription</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.idEtudiant, "idEtudiant", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idEtudiant", String.Empty)
                @Html.ValidationMessageFor(model => model.idEtudiant)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idClasse, "idClasse", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idClasse", String.Empty)
                @Html.ValidationMessageFor(model => model.idClasse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.annee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.annee)
                @Html.ValidationMessageFor(model => model.annee)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateInscription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateInscription)
                @Html.ValidationMessageFor(model => model.dateInscription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
