﻿@model DevoirsEtExams.Models.Inscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscription</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.classe.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.classe.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.etudiant.matricule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etudiant.matricule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateInscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateInscription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
