﻿@model DevoirsEtExams.Models.Inscription

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Inscription</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idEtudiant)

        @Html.HiddenFor(model => model.annee)

        <div class="form-group">
            @Html.LabelFor(model => model.idClasse, "idClasse", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idClasse", String.Empty)
                @Html.ValidationMessageFor(model => model.idClasse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateInscription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateInscription)
                @Html.ValidationMessageFor(model => model.dateInscription)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
